body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
  }
  
  .home-page {
    background-image: url("IMG/cityfeild.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden; 
    color: white;
  }
  

  .other-page {
    background-color: #002d72; 
    color: white;
  }
  
  .mets-navbar {
    background-color: #002d72; 
    border-bottom: 4px solid #ff5910; 
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 24px;
    color: white;
  }
  .navbar-brand:hover {
    font-weight: bold;
    font-size: 24px;
    color: purple;
  }
  
  .navbar-nav .nav-link {
    font-size: 18px;
    color: white !important;
    margin-right: 15px;
  }
  
  .nav-link:hover {
    color: #ff5910 !important; 
  }
  

  .home {
    font-style: normal;
    color: orange;
    margin-top: 30px;
    font-size: 5rem;
    text-shadow: 5px 5px blue;
    text-align: center;
  }
  .single-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    height: 500px;
    width: 100%;
  }
  
  .card {
    background-color: white;
    border: 3px solid #ff5910;
    border-radius: 15px;
    width: 500px;
    padding: 30px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  .card img {
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
  }
  
  .card h3 {
    color: #002d72;
    font-size: 28px;
    margin-bottom: 15px;
  }
  
  .card p {
    margin: 8px 0;
    font-size: 18px;
    color: #333;
  }
  .btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    z-index: 10;
    position: relative;
  }
  
  #next-btn {
    padding: 14px 28px;
    font-size: 20px;
    background-color: #ff5910;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  #next-btn:hover {
    background-color: #002d72; 
    color: #ff5910;
    transform: scale(1.05);
  }




  #create-btn {
    margin-left: 15px;
    padding: 14px 28px;
    font-size: 20px;
    background-color: #002d72; /* Mets Blue */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
  }
  
  #create-btn:hover {
    background-color: #ff5910;
    color: #002d72;
    transform: scale(1.05);
  }