body {
    min-height: 100vh;
    margin: 0;
    background-image: url("IMG/cityfeild.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.home {
    font-style: normal;
    color: #ff5910;
    margin-top:200px;
    font-size: 140px; 
    text-shadow: 6px 6px #002d72;
    text-align: center;
}

.mets-navbar {
    background-color: #002d72; 
    border-bottom: 4px solid #ff5910; 
}

.navbar-nav .nav-link {
    margin-right: 15px;
    font-size: 18px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 24px;
    color: #ff5910;
}


.navbar-brand:hover {
    font-weight: bold;
    font-size: 24px;
    color: purple;
}

.nav-link:hover {
    color: #ff5910; 
    text-shadow: 2px 2px purple;
}
.nav-link{
    color: #ff5910; 
}

